<!-- Flash Messages -->
<% if flash[:notice] %>
  <div class="alert alert-info">
    <i class="cache-icon">⚡</i> <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
